<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />

<div class="fullpage-home">

<div class="row section">
	<div class="abc" id="video">
		<%= video_tag "videolanding.ogv" , :autoplay => true, :muted => true, :loop => true, class:"fullscreen-bg__video" %>
		<%= image_tag("lam.png", alt: "Imagen de noticia",:class => "img-main bar fadeInUp", size:"213x123")%>
		<%= image_tag("movivan.png", alt: "Imagen de noticia",:class => "img-name bar fadeInUp", size:"232x42")%>
		<p class="page-slogan bar fadeInUp">
			Una nueva experiencia en tu viaje cotidiano: <br>
			confortable, seguro y accesible
		</p>

		<p class="mov-slogan bar fadeInUp">
			Déjate llevar
		</p>
		<li class="reg-but bar fadeInUp">
			<%= link_to "Regístrate aquí", "http://www.movivan.pe/auth/signup" %>
		</li>
    	
	</div>
</div>

<div class="about section" id="about">
	<div class="row main">
		<%= render 'layouts/header' %>
		<div class="how-main" style="margin-top:75px;">
			<div class="about-bkgr">
				<div class="video-container">
                        <div class="video" style="margin-left:47px;">
                            <iframe width="580" height="360" src="https://www.youtube.com/embed/who5eJU7KQo" frameborder="0"></iframe>
                        </div>

                    </div>
			</div>
		</div>
		<div class="how-main" >
			<div class="about-text">
				<h1 >
					Confortable. Seguro. Accesible <br>
				</h1>
				
				<form>
 					<fieldset>
  						<legend>¿Qué es Movivan?</legend>
							Con Movivan te trasladas de tu casa al trabajo <br>
							y viceversa, mediante vehículos Van.
  
 					</fieldset>
				</form>
				<h2 style="font-size:1.3em;">
					"Con Movivan inicias y terminas un día <b>sin estrés,</b> <br> <h2 style="font-size:1.3em;margin-top:-20px;text-align:right;">con <b>tarifas muy accesibles</b> y <b>sin preocupaciones."</b></h2>
				</h2>
			</div>
		</div>
	</div>
</div>

<div class="how section" id="how">
	<div class="row main">
		<div class="how-main bar fadeInUp" >
			<div class="how-bkgr">
			</div>
		</div>
		<div class="how-text bar fadeInUp">
			<h1>1. Viaje</h1>
			<h2>Selecciona tus rutas de ida y vuelta segun tus viajes.</h2>
		</div>
	</div>
</div>

<div class="how section">
	<div class="row main">
		<div class="how-main bar fadeInUp" >
			<section class="how1-bkgr">
			</section>
		</div>
		<div class="how-text bar fadeInUp">
			<h1>2. Programación</h1>
			<h2>Selecciona los dias en que viajaremos contigo.</h2>
		</div>
	</div>
</div>

<div class="how section">
	<div class="row main">
		<div class="how-main bar fadeInUp" >
			<div class="how2-bkgr">
			</div>
		</div>
		<div class="how-text bar fadeInUp">
			<h1>3. Confirmación</h1>
			<h2>Espera la confirmación de tus viajes programados.</h2>
		</div>
	</div>
</div>

<div class="how section">
	<div class="row main">
		<div class="how-main bar fadeInUp" >
			<div class="how3-bkgr">
			</div>
		</div>
		<div class="how-text bar fadeInUp">
			<h1>4. Mis viajes</h1>
			<h2>Disfruta de tus viajes confirmados.</h2>
		</div>
	</div>
</div>


<div class="benefic section" id="benefic">
	<div class="row main">
		<div class="benefits"> 
			<div class="ben-bkgr">
			</div>
		</div>

	</div>
</div>

<div class="section">
<div class="contact"  id="contact">
	<div class="cont-bkgr">
		<div class="cont-text">
			<u style="font-size:1.5em;">Contacto </u><br>
			<p>Escríbenos a <b>movivan.peru@outlook.com</b> y con gusto nos contactaremos contigo</p>
		</div>
		<div class="cont-text" >
			<u style="font-size:1.5em;">Carreras </u><br>
			<p style="width:50%;">En Movivan nos mueve la pasión por la tecnología y la innovación y estamos en busca de talentos como tú para diversas disciplinas.<br>
				Escríbenos a <b>carreras@movivan.pe</b></p>
		</div>
	</div>
	
	<div class="cont-form bar bounce" >
		<div class="cont-input"><%= render '/contacts/form' %></div>
	</div>
	</div>

</div>

</div>

<script >
		function yscroll(){
			var pagetop = document.getElementById("land-head");
			
			var ypos = window.pageYOffset;
			if(ypos > screen.height - 200){
				pagetop.style.display = "inherit";
				
			}
			else{
				pagetop.style.display = "none";
			}
		}

		window.addEventListener("scroll", yscroll);
</script>

<script >
	$(document).ready(function() {
  	// Changing the defaults
	window.sr = ScrollReveal({ reset: true });

// Customizing a reveal set
	sr.reveal('.bar', { distance: '200px', useDelay: 'once', delay: 250 });
	var scroll_pos = 0;
    var animation_begin_pos = 0; //where you want the animation to begin
    var animation_end_pos = 5000; //where you want the animation to stop
    
    $(document).scroll(function() {
        scroll_pos = $(this).scrollTop(); 
        if(scroll_pos >= animation_begin_pos && scroll_pos <= animation_end_pos ) { 
           // console.log( 'scrolling and animating' );
            //we want to calculate the relevant transitional rgb value
            if(scroll_pos >= 0 && scroll_pos <= 1365){
            	document.getElementById('login').style.backgroundColor = "#d7006e";
            	document.getElementById('sign').style.backgroundColor = "#d7006e";
            	document.getElementById('cont').style.borderRight = "solid 1px #d7006e"
            	document.getElementById('whatlink').style.color = "#d7006e";
            	document.getElementById('howlink').style.color = '#777'
            	document.getElementById('benlink').style.color = '#777'; 
            	document.getElementById('contlink').style.color = '#777'
            }
            else if(scroll_pos >= 1366 && scroll_pos <=4097){
            	document.getElementById('login').style.backgroundColor = "#693b7b"; 
            	document.getElementById('sign').style.backgroundColor = "#693b7b"; 
            	document.getElementById('cont').style.borderRight = "solid 1px #693b7b"; 
            	document.getElementById('howlink').style.color = "#693b7b";
            	document.getElementById('whatlink').style.color = '#777'; 
            	document.getElementById('benlink').style.color = '#777'; 
            	document.getElementById('contlink').style.color = '#777';
            }

            else if(scroll_pos >= 4098 && scroll_pos <=4780){
            	document.getElementById('login').style.backgroundColor = "#0074e6"; 
            	document.getElementById('sign').style.backgroundColor = "#0074e6"; 
            	document.getElementById('cont').style.borderRight = "solid 1px #0074e6";
            	document.getElementById('benlink').style.color = "#0074e6";
            	document.getElementById('whatlink').style.color = '#777'; 
            	document.getElementById('howlink').style.color = '#777';
            	document.getElementById('contlink').style.color = '#777';

            }

            else if(scroll_pos >= 4781){
            	document.getElementById('login').style.backgroundColor = "#693b7b"; 
            	document.getElementById('sign').style.backgroundColor = "#693b7b"; 
            	document.getElementById('cont').style.borderRight = "solid 1px #693b7b"; 
            	document.getElementById('contlink').style.color = "#693b7b";
            	document.getElementById('whatlink').style.color = '#777'; 
            	document.getElementById('howlink').style.color = '#777';
            	document.getElementById('benlink').style.color = '#777';
            }
        }
           
    });
});
</script>

