<%= form_for(@postulation == nil ? (@postulation = Postulation.new ) : @postulation) do |f| %>
  <% if @postulation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@postulation.errors.count, "error") %> prohibited this postulation from being saved:</h2>

      <ul>
      <% @postulation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group  post-form">
  <h1>¿Quieres pertenecer a la Comunidad de conductores Movivan?</h1>
  <h2>Llena este formulario y nos pondremos en contacto contigo:</h2>
  <div class="">
    <%= f.text_field :name, :placeholder => "nombre", class: "form-control" %>
  </div>
  <div class="">
    <%= f.text_field :lastName, :placeholder => "apellido", class: "form-control" %>
  </div>
  <div class="">
    <%= f.text_field :email, :placeholder => "correo", class: "form-control" %>
  </div>
  <div class="">
    <%= f.text_field :phone, :placeholder => "celular", class: "form-control" %>
  </div>
  <div class="radio">
      <label class="radio-label"><%= f.radio_button :owner, :value => true, class: 'radio-post'%> Soy propietario y conductor.<label>
  </div>
  <div class="radio">
       <label class="radio-label"><%= f.radio_button :owner, :value => false%> Soy propietario y tengo varias unidades.</label>
  </div>

  <div class="form-group">
    <div class="">
      <%= submit_tag("Enviar Solicitud", disable_with: "Enviando", class: "btn btn-edit send")%>
  </div>
  </div>
<% end %>
