
<%= form_for(@contact == nil ? (@contact = Contact.new ) : @contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
 
  <div class="form-group col-md-4 col-md-offset-4 share">
    <h2 style="margin-top:30px;">Síguenos en <%= link_to image_tag("fb.png", alt: "Compartir en Facebook"),
            'https://www.facebook.com/Movivan-427637314086247/?fref=ts' %> <%= link_to image_tag("youtube.png", alt: "Compartir en Youtube"),
            'https://www.youtube.com/channel/UCpfPdw3w9xLHahhlqNVrnbw?app=desktop' %>
      <style>
        ul#menu li {
          display:inline;
          margin-right:20px;
        }
      </style>
        <ul id="menu" style="width:100vw;color:#00BD00;text-align:left;margin-left:-400px;">
           <li>TÉRMINOS Y CONDICIONES DE SERVICIOS</li>
           <li>© 2016 Movivan, todos los derechos reservados</li>
           <li>POLÍTICAS DE PRIVACIDAD</li>
           <li style="margin-left:80px;">
            <a href="/book" style="color:#00BD00;">LIBRO DE RECLAMACIONES</a>
            </li>
        </ul>
            
    </h2>

    


  </div>

  


<% end %>
