<header class="navbar navbar-fixed-top navbar-inverse navbar-nav" id="land-head" style="background-color:#ebebe0;display:none;">
  <div class="container">
    <%= link_to "Movivan", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="li-head"><%= link_to "¿Qué es Movivan?", "#about" %></li>
        <li class="li-head"><%= link_to "¿Cómo funciona?", "#how" %></li>
        <li class="li-head"><%= link_to "Beneficios", "#benefic" %></li>
        <li class="li-head"><%= link_to "Contáctanos", "#contact" %></li>
        <li class="but-head"><%= link_to "Ingresa", "#login" %></li>
        <li class="but-head"><%= link_to "Registra tu van", "#register" %></li>
      </ul>
    </nav>
  </div>
</header>
